@page
@model patitu_florin_proiect.Pages.Mecanici.CreateModel

@{
    ViewData["Title"] = "Creaza Mecanicul";
}

<h1>Creaza Mecanicul</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Mecanic.Nume" class="control-label"></label>
        <input asp-for="Mecanic.Nume" class="form-control" />
        <span asp-validation-for="Mecanic.Nume" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Mecanic.Prenume" class="control-label"></label>
        <input asp-for="Mecanic.Prenume" class="form-control" />
        <span asp-validation-for="Mecanic.Prenume" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Creaza" class="btn btn-primary" />
    </div>
</form>

<p>
    <a asp-page="Index" class="btn btn-secondary">Inapoi la lista</a>
</p>
