@page
@model patitu_florin_proiect.Pages.Mecanici.DeleteModel

@{
    ViewData["Title"] = "Sterge Mecanicul";
}

<h1>Sterge Mecanicul</h1>

<p>Sigur vrei sa stergi acest mecanic?</p>
<form method="post">
    <div class="form-group">
        <label asp-for="Mecanic.Nume" class="control-label"></label>
        <input asp-for="Mecanic.Nume" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Mecanic.Prenume" class="control-label"></label>
        <input asp-for="Mecanic.Prenume" class="form-control" disabled />
    </div>
    <div class="form-group">
        <input type="submit" value="Sterge" class="btn btn-danger" />
    </div>
</form>

<p>
    <a asp-page="Index" class="btn btn-secondary">Inapoi la lista</a>
</p>
