@page
@model patitu_florin_proiect.Pages.Mecanici.DetailsModel

@{
    ViewData["Title"] = "Detalii Mecanicului";
}

<h1>Detalii Mecanicului</h1>

<div>
    <label>Nume:</label>
    <span>@Model.Mecanic.Nume</span>
</div>
<div>
    <label>Prenume:</label>
    <span>@Model.Mecanic.Prenume</span>
</div>

<p>
    <a asp-page="Index" class="btn btn-secondary">Inapoi la lista</a>
</p>
